// .lineChartContainer {
//   background-color: #d9e2e6;
//   border-radius: 20px;
//   box-sizing: border-box;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.3);
//   padding: 10px;
//   width: 100%;
//   height: 100%;
//   position: relative;
// }

.lineChart {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
