.errorPopupContainer {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(72, 72, 72, 0.327);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  animation: slideIn 0.5s ease-out;
  z-index: 10;
}

.errorPopup {
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 100%; 
  width: 30%;
  background-color: #a9b4b9;
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 5px;
}

.errorPopupTitle {
  color: red;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin: 15px 0;
}

.closeButton {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.errorHistory {
  width: 100%;
  overflow-y: auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 10px;
}

.errorDetails {
  overflow: hidden;
  white-space: pre-wrap;
  text-wrap: wrap;
  background-color: #d9e2e6;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  word-wrap: break-word;
}

.errorSummary {
  font-size: 15px;
}

.errorText {
  width: 100%;
  font-weight: bold;
  font-size: 15px;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
