.loading {
  // font-size: 10px;
  // font-family: "Montserrat", sans-serif;
  // font-weight: 800;
  text-align: start;
  span {
    display: inline-block;
    margin: 0 -0.05em;
    animation: loading 1.4s infinite alternate;
    @for $i from 0 through 10 {
      &:nth-child(#{$i + 1}) {
        animation-delay: #{$i * 0.1}s;
      }
    }
  }
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
