.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #a9b4b9;
  overflow: hidden;
}

.main {
  flex: 1;
  box-sizing: border-box;
  padding: 20px;
  display: grid;
  grid-template-columns: auto repeat(2, 1fr);
  grid-template-rows: auto repeat(2, 1fr);
  gap: 20px;
  width: 1600px;
  margin: auto;
  position: relative;
}

.mainGridElem {
  grid-column: span 2;
}

.mainLoadingBaseClass {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.233);
  z-index: 100;
  border-radius: 30px;
}

.mainLoadingBaseClassTitle {
  position: absolute;
  color: white;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
  font-size: 35px;
  margin: 0;
}
