body {
    margin: 0;
}

:not(.loaderContainer) {
    -webkit-app-region: no-drag;
}

.loaderContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #a9b4b9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-app-region: drag;
}

.loader {
    width: 100px;
    height: 100px;
    border: 20px dotted black;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
    z-index: 10;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}