.productInformationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  flex-direction: row;
  background-color: #d9e2e6;
  width: 700px;
  height: 425px;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.starRating {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  justify-content: space-between;
  overflow: hidden;
}

.productNameContainer {
  display: flex;
  flex-direction: column;
}

.productNameContainer_loading {
  flex-direction: row;
}

.productNameBlock {
  width: 250px;
  height: 20px;
  position: relative;
  overflow: visible;
}

.productNameBlock_loading {
}

.productName {
  top: 0;
  left: 0;
  position: absolute;
  font-weight: bold;
  white-space: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  background-color: #d9e2e6;
}

.productName_visibleText {
  overflow: visible;
  text-overflow: clip;
  white-space: normal;
  padding-bottom: 11px;
  box-sizing: border-box;
}

.toggleButton {
  background-color: #34444f;
  color: #d9e2e6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 14px;
  transition: background-color 0.3s;
  outline: none;

  &:hover {
    background-color: #34444f8a;
  }
}

.basicInformation {
  display: flex;
  flex-direction: column;
  width: 100%;
  white-space: nowrap;
}

.infoRow {
  display: flex;
  margin: 7px 0;
  width: 100%;
}

.label {
  margin-right: 20px;
  font-weight: bold;
  color: #333;
  font-size: 16px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.value {
  min-width: 0; /* Убедитесь, что элемент может сжиматься */
  width: 100%; /* Занимает всю доступную ширину */
  font-weight: bold;
  color: #007bff;
  display: block; /* Используем блок для text-overflow */
  font-size: 18px;
  white-space: nowrap; /* Запрещаем перенос текста */
  overflow: hidden; /* Обрезаем текст */
  text-overflow: ellipsis; /* Добавляем троеточие */
}
