.ProductReviewsSorted {
  background-color: #d9e2e6;
  border-radius: 20px;
  grid-row: span 2;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.3);
}

.ProductReviewsSortedTitle {
  margin: 30px 0;
  font-weight: bold;
}

.ProductReviewsSortedList {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
}

.sortedInput {
  outline: none;
  border: none;
  border-bottom: 1px solid #34444f;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
}

.ProductReviewsSortedInputBlock {
  flex: 1;
  min-height: 100%;
  position: relative;
}

.ProductReviewsSortedInputContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  resize: vertical;
  padding: 7px;
  box-sizing: border-box;
  overflow: auto;
  background-color: white;
  overflow-y: hidden;
  border-radius: 10px;
  user-select: none;
  max-height: 600px;
  background-color: #f0f0f0;
}

.ProductReviewsSortedElements {
  width: 95%;
  top: 29px;
  left: 50%;
  transform: translateX(-50%);
  max-height: calc(90% - 30px);
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  position: absolute;
  box-sizing: border-box;
}

.ProductReviewsSortedElement {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 5px;
  padding: 4px;
}

.ProductReviewsSortedElements::-webkit-scrollbar {
  width: 12px; /* Увеличиваем ширину вертикального скролла */
  padding: 0;
}

.ProductReviewsSortedElements::-webkit-scrollbar-thumb {
  background-color: #34444f; /* Цвет ползунка */
  border-radius: 5px; /* Закругленные края */
  border: 1px solid rgb(198, 198, 198);
}

.ProductReviewsSortedElements::-webkit-scrollbar-track {
  background-color: transparent; /* Цвет фона полосы прокрутки */
}

.ProductReviewsSortedElements::-webkit-scrollbar-button {
  background-color: transparent;
}

.ProductReviewsSortedWordsInputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  box-sizing: border-box;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.ProductReviewsSortedElementRemove {
  position: relative;
  border: none;
  background: none;
  background-color: #34444f;
  width: 21px;
  height: 21px;
  border-radius: 10px;
  cursor: pointer;
}

.ProductReviewsSortedElementRemove::before,
.ProductReviewsSortedElementRemove::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #d9e2e6;
  top: 50%;
  left: 50%;
  transform-origin: center;
}

.ProductReviewsSortedElementRemove::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.ProductReviewsSortedElementRemove::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.ProductReviewsSortedFoundText {
  border-radius: 5px;
  font-weight: bold;
}

.commentMessage {
  margin-bottom: 20px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2), inset 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 5px;
  margin: 5px 0;
  font-size: 18px;
  white-space: pre-wrap;
}

.commentMessageNotFound {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 18px;
  font-weight: bold;
  height: 92%;
  width: 100%;
}

.ProductReviewsSortedComments {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.ProductReviewsSortedComments::-webkit-scrollbar {
  width: 12px; /* Увеличиваем ширину вертикального скролла */
  padding: 0;
}

.ProductReviewsSortedComments::-webkit-scrollbar-thumb {
  background-color: #34444f; /* Цвет ползунка */
  border-radius: 5px; /* Закругленные края */
  border: 1px solid rgb(198, 198, 198);
}

.ProductReviewsSortedComments::-webkit-scrollbar-track {
  background-color: transparent; /* Цвет фона полосы прокрутки */
}

.ProductReviewsSortedComments::-webkit-scrollbar-button {
  background-color: transparent;
}
