.ReviewCharWords {
  width: 100%;
  height: 100%;
  background-color: #d9e2e6;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 8px;
  position: relative;
}

.ReviewCharWordsCommentsNotFound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  color: black;
}
