:not(.loaderContainer) {
  -webkit-app-region: no-drag;
}

.loaderContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-app-region: drag;
  background-color: rgba(0, 0, 0, 0.151);
  border-radius: 30px;
}

.loader {
  width: 120px;
  height: 120px;
  border: 20px dotted black;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 2.5s linear infinite;
  z-index: 999999;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
